@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 0 0% 100%;
  --foreground: 222.2 84% 4.9%;
}

[data-theme="dark"] {
  --background: 222.2 84% 4.9%;
  --foreground: 0 0% 100%;
}

body {
  background-color: hsl(var(--background));
  color: hsl(var(--foreground));
} 